*{
  margin: 0%;
  padding: 0%;
  
}
body{
  background-color: #f0a500;
}
header{
  margin-top: 150px;
  margin-left: 150px;
}
header h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
header img{
  width: 500px;
  margin-top: -50px;
  margin-bottom: 40px;
}
.container{
  background-color: rgb(243, 232, 183);
  width: 350px;
  height: 350px;
  float: right;
  margin-top: -300px;
  margin-right: 100px;
  border-radius: 3px;
}
.form{
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
}
.form input{
  width: 90%;
  margin: 10px 30px;
  margin-left: 15px;
  margin-right: 10px;
  height: 30px;
}
.btn{
  padding: 8px 123px;
  background-color: #f0a500;
  margin-left: 16px;
  color: black;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.form img{
  margin-left: 47px;
  margin-bottom: 20px;
}
.pass{
  margin-left: 18px;
  margin-top: 15px;
}
.form span{
  margin-left: 55px;
}
a{
  text-decoration: none;
  color: blue;
}
a:hover{ color: #ff0000;}
.btn:active :hover{
  background-color: khaki;
}
